@import url("https://fonts.googleapis.com/css?family=Raleway");
::-moz-selection {
    background: #ffa270;
}

::selection {
    background: #ffa270;
}

a {
    float: left;
    color: #424242;
    padding: 0.1em;
}

br {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 1.5em;
}

h1 {
    text-shadow: #ffa270 -2px 2px;
}

#speech {
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-40%, -55%);
    transform: translate(-40%, -55%);
    border: 1px solid #424242;
    box-shadow: -22px 22px #f3f3f3, -42px 42px #f6f6f6;
    padding: 0.7em;
    width: 250px;
    display: inline-block;
}

#speech small {
    float: left;
    margin: 10px 0 0 0;
}

#speech:after {
    display: block;
    content: '';
    clear: both;
}

[type='range'] {
    margin: 6px 0;
    width: 100%;
}

.voice {
    opacity: 0.7;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin: 4px 0;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: #ffa270 solid 1px;
    color: #424242;
    box-shadow: -1.5px 1.5px #424242;
}

.voice:not(button):focus,
.voice:hover {
    outline: none;
    color: #ff7043;
    box-shadow: -3px 3px 3px #6d6d6d;
    -webkit-transform: translate(1.5px, -1.5px);
    transform: translate(1.5px, -1.5px);
    opacity: 1;
}

button.voice {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: auto;
    background: transparent;
    padding: 5px 7px;
    float: right;
    margin-right: 5px;
    cursor: pointer;
}

button.voice:hover:before {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}

button.voice:before {
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    position: absolute;
    border-radius: 50%;
    background: -webkit-radial-gradient(#e8e8e8, #ffffff);
    background: radial-gradient(#e8e8e8, #ffffff);
    z-index: -10;
}

button.voice:focus {
    outline: none;
}

textarea {
    resize: none;
    width: calc(100% - 11px) !important;
}